*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

body {
  line-height: 1.2;
  overflow-x: hidden;
  --color-link: #4b4b4b;
  --color-link-hover: #fff;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

h1 {
  font-size: 56px;
  font-weight: 400;
  color: #000000;
  position: relative;
}
h1:after {
  content: "";
  padding-bottom: 30px;
  display: block;
  border-bottom: 1px solid #464c63;
  width: 60%;
}

h2 {
  font-size: 36px;
  font-weight: 100;
  color: #000000;
  position: relative;
}

img {
  max-width: 100%;
}

.content {
  position: relative;
}

.three-canvas {
  width: 100% !important;
}

.body-container {
  background-color: white !important;
  padding-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  /* flex: 4; */
}

:root * {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  display: none;
  border: 1px solid;
  border-radius: 5px;
  left: 100px;
  top: 2rem;
  width: 5px;
  height: 90vh;
  background: #ffffff;
  z-index: 100;
}

.fixed {
  display: block;
}

.timeline .bar {
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  z-index: 0;
}

/* .timeline .bar:hover {
    cursor: pointer !important;
    background-color: rgb(0, 151, 53);
  } */

.node {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #fff;
  left: -1px;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
}
.node:hover {
  background: #46ffdd;
}
.node:hover span {
  opacity: 1;
}
.node:before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 11px;
  height: 10px;
  left: -2px;
  top: -3px;
  z-index: 1000;
}

.node:hover:before,
.node:hover {
  background-color: green;
  color: green;
}

.node span {
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
  right: 4px;
  top: -13px;
  color: #000;
  position: absolute;
  padding: 10px;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 200;
  opacity: 1;
}

.container {
  padding-left: 200px;
  height: 100%;
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.reveal {
  position: relative;
  opacity: 0;
  text-align: left;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

section {
  min-height: fit-content;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6rem !important;
  border-top: 2px solid #838383;
  padding: 20px;
  font-size: 16px;
  font-weight: 200;
  font-family: "Montserrat";
  overflow-y: hidden;
}

section:last-child {
  margin-bottom: 0 !important;
}

.open-call {
  margin: 1rem auto;
  width: 80%;
  text-align: left;
  font-size: xx-large;
  font-family: "Helvetica";
}
.open-call:first-child {
  margin-top: 3rem;
}

.space-ship {
  font-style: italic;
  font-size: xx-large;
}

h1 {
  font-size: 3rem;
  margin: 20px;
}
h2 {
  width: 100%;
  font-size: 5.5rem;
  text-align: left;
  text-transform: uppercase;
}

section .text {
  font-family: "Helvetica", sans-serif !important;
  text-align: left;
  font-size: large;
  width: 100%;
}

section .text-left {
  width: 75%;
}

section .deadline-text {
  width: 100%;
  text-align: center;
}

section .jury-sub-title {
  font-weight: bold;
  font-size: xx-large;
}

section .jury-desc {
  font-style: italic;
  font-size: medium;
}

.time-table {
  width: 100%;
  text-align: left;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-top: 3rem;
  overflow: hidden;
  top: 2rem;
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77%;
  margin-bottom: 1rem;
}

.empty {
  flex: 36%;
}

.box-calender {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", sans-serif;
  font-size: x-large;
  padding: 1.5rem 0;
  height: 2rem;
  background-color: #eeeeee;
  flex: 11%;
}

.calender-decs {
  flex: 25%;
  text-align: center;
  font-size: medium;
}
.box-line {
  flex: 5%;
}

@media (max-width: 900px) {
  .back-ground {
    height: 20vh;
    width: 100%;
    background-image: url("../img/openCall-Canvas.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%;
  }
  .back-ground .logo {
    display: none;
    width: 0%;
    height: 0%;
  }

  .back-ground a {
    display: none;
  }
  #canvas {
    display: none;
  }

  .body_wrapper {
    overflow: hidden;
  }

  section h2 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
  .time_line {
    display: none;
  }
  .open-call {
    margin: 0.8rem auto;
    width: 80%;
    text-align: center;
    font-size: medium;
  }

  .open-call span {
    font-size: medium;
  }
  .body-container {
    gap: 2rem;
  }
  section {
    min-height: fit-content;
    height: 100%;
    margin-bottom: 1rem !important;
  }
  section .text,
  section .jury-desc {
    text-align: left;
    font-size: small;
    width: 100%;
  }
  .year {
    font-size: medium;
  }
  .row {
    width: 100%;
  }
  .box-calender {
    font-size: small;
    padding: 1.5rem 0;
    height: 2rem;
    background-color: #eeeeee;
  }
}

p {
  line-height: 2;
}

/* Form Styling */
.contact-us {
  background: #000;
  padding: 50px 100px;
  border-top: 10px solid #a9a5a2;
}

#form-nav {
  width: 100%;
  margin-bottom: 2rem;
}

label,
input,
textarea {
  font-family: "Helvetica", sans-serif !important;
  color: #000;
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
}

label,
.form-section h3 {
  color: #fff;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="number"] {
  box-sizing: border-box;
  padding-left: 1.5rem;
}

input {
  font-family: "Helvetica", sans-serif !important;
  margin-bottom: 24pt;
}

span {
  font-family: "Helvetica", sans-serif !important;
  font-size: 8pt;
}

em {
  color: red;
  font-weight: bold;
}

input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding-left: 5px;
  outline: none;
  margin-bottom: 1.6rem !important;
}

input:focus,
textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
  padding-left: 1.5rem !important;
}

button {
  display: block;
  width: 25%;
  height: auto;
  float: right;
  background: #000;
  color: #fff;
  padding: 0.5em 1.5em !important;
  outline: none;
  font-size: 1.15em;
  font-style: normal;
  font-weight: 400;
  border: 2px solid #fff;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  background-color: #fff;
  color: #000;
}

::selection {
  background: #a9a5a2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 900px) {
  #form-nav {
    width: 100vw;
    overflow-x: hidden;
  }
  form .form-section {
    width: 75vw;
  }
  form label {
    font-size: smaller;
  }
  button {
    width: fit-content;
  }
  label,
  input,
  textarea {
    font-size: 8pt;
    line-height: 14pt;
  }
}

/* hnaneh */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

.js-image {
  max-width: 100%;
  display: block;
}

.loaded .js-image {
  opacity: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

img {
  display: block;
}

/* .section {
  min-height: 100.5vh;
} */

/* .spaced {
  padding-top: 200px;
} */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered .item {
  margin: 0;
}

.item {
  max-width: 700px;
  margin: 0 auto 3vh auto;
  color: #737375;
}

.item img {
  display: block;
  width: 100%;
}

.item__image {
  margin-bottom: 1em;
}

.item h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0 1rem;
  color: #fff;
  font-family: operetta-12, sans-serif;
  cursor: default;
}

.item p {
  line-height: 1.5;
  font-size: 1.25rem;
  max-width: 80%;
  cursor: default;
}

@media only screen and (max-width: 900px) {
  .header {
    display: block;
    line-height: 1.5;
  }

  .info_meta .info__link {
    margin-left: 0;
    margin-right: 2em;
  }
}
